{% extends 'base.html.twig' %}

{% block title %}
    KARATE RZESZOW
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">{{ hello }}</h1>

        {% if app.user %}
            <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
        {% else %}
            <a href="{{ path('easyadmin') }}">Zaloguj się</a>
        {% endif %}


    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}