{% extends 'base.html.twig' %}

{% block body %}
<h1>Witam w panelu logowania!</h1>
    <ul>
        <li><a href="{{ path('karate_login') }}">Zaloguj sie</a></li>
        <li><a href="{{ path('karate_register') }}">Zarejestruj sie</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}