{% extends 'base.html.twig' %}

{% block title %}
    {{ headerTitle }}
{% endblock %}

{% block content %}
    <div class="header-title border_animation">Regulamin uczestnika Rzeszowskiego Klubu Karate Kyokushin <span class="head-line"></div>
    <article class="col-xs-12 regulamin">

        <h3>Nowy regulamin będzie dostępny już wkrótce</h3>

    </article>

    {#<div class="news-link news-link-forward pull-left">#}
        {#<a href="{{ asset('uploads/2010-11-15_Regulamin.pdf') }}" alt="Regulamin Rzeszowskiego Klubu Karate" target="_blank">Regulamin w wersji pdf <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>#}
    {#</div>#}


{% endblock %}